
@import "./utils/variables";
@import"./utils/keyframes";
@import"./utils/mixins";
@import "./base/base";
@import"./components/btn";
@import"./layout/loader";
@import"./layout/footer";
@import"./layout/header";
@import"./pages/index";
@import"./pages/restaurants";
@import"./pages/mediaindex";
@import"./pages/mediarestaurants";



input{
    border-style: none;
    background-color:$bgcolorbold;
    border-radius:0;
    font-weight: bold;
    padding-left:20px;
    &:focus{
        outline:none;
    }
}







