header{
    font-family: $titlefont;
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:15px;
}
.header__back{
    font-size:26px;
}
.header__logo{
    width:100%;
    display:flex;
    justify-content:center ;
}