@media (min-width:992px){
    .container__EPD{
        display:flex;
        &--E{
            flex:1;
            margin-left:15px;
            margin-right:15px;
        }
        &--P{
            flex:1;
            margin-left:15px;
            margin-right:15px;
        }
        &--D{
            flex:1;
            margin-left:15px;
            margin-right:15px;
        }
    }
}