

$titlefont:'Shrikhand', cursive;




$primarycolor:#9356DC;
$secondarycolor:#FF79DA; 
$tertiarycolor:#99E2D0;


$loadercolor:whitesmoke;
$bgcolor:#f2f2f2;
$bgcolorbold:#e2e2e2;
$ulcolor:#e9d9ff;
$bgfooter:#2e2e2e;
$new:#5f867c;